<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logfile" xsi:type="File"
            fileName="${basedir}/App_Data/Log/apilog_${shortdate}.txt"
            layout="${longdate}|${level}|${message}"
            archiveFileName="${basedir}/App_Data/archives/apilog_{#}.txt"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="40960000"
            archiveDateFormat="yyyyMMdd"
            />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile"/>
  </rules>

  <!--
     log levels: Fatal,Error,Warn,Info,Debug,Trace
  -->
</nlog>
