<div class="jumbotron">
    <h1>苏州道前旅游</h1>
    <p class="lead">道前旅游导览开发WebApi, 是苏州道前街道旅游导航微信版专属提供的后台服务API.</p>
    <p><a href="http://szdq.losta.net/pages/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>开始</h2>
        <p>详细开发资料，请与开发商联系、或直接下载.</p>
        <p><a class="btn btn-default" href="http://www.losta.net">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>得到更多</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://www.losta.net">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>联系开发商</h2>
        <p>如欲获取有关开发的更多资料，请与开发商联系.</p>
        <p><a class="btn btn-default" href="http://www.losta.net">Learn more &raquo;</a></p>
    </div>
</div>
